APP_NAME="PHP MVC Project"
APP_URL="http://localhost:8000"

DB_HOST="localhost"
DB_NAME="mvc_project"
DB_USER="root"
DB_PASS=""

SESSION_NAME="myapp_session"

UPLOAD_MAX_SIZE=2097152
UPLOAD_ALLOWED_TYPES="jpg,png,pdf"
UPLOAD_DIR="C:/xampp/htdocs/php-project/public/uploads/"